// Main settings

main_bg_color = black
main_text_color = white
primary_font = 'Quicksand', 'Futura', Helvetica, sans-serif

// Fonts

@font-face
    font-family Quicksand
    src url("./fonts/quicksand/Quicksand-Light.otf") format("opentype")

// Animations

@keyframes text-pulse
    0%
        letter-spacing: 3px
    25%
        letter-spacing: 6px
    50%
        letter-spacing: 12px
    100%
        letter-spacing: 24px

@keyframes slide-in
    0%
        opacity 0
        margin-left 100px
    100%
        opacity 1
        margin-left 5px
        top auto
        transform none

animation()
    -webkit-animation: arguments
    -moz-animation: arguments
    -ms-animation: arguments
    -o-animation: arguments
    animation: arguments

animation-fill-mode()
    -webkit-animation-fill-mode: arguments
    -moz-animation-fill-mode: arguments
    -ms-animation-fill-mode: arguments
    -o-animation-fill-mode: arguments
    animation-fill-mode: arguments

body
    background: main_bg_color
    color: main_text_color
    font-family: primary_font

.fader
    animation text-pulse 4s 1s infinite linear alternate
    
.sliding-text
    .block-letter
        width 80px
        height 50px
        border-radius 5px
        border 2px solid white
        color white
        text-align center
        margin 5px
        opacity 0
        animation slide-in 2s 1s 1 ease-out alternate
        animation-fill-mode forwards
        position relative
        top 50%
        transform translateY(-50%)
        